<div ng-repeat="u in User | filter:{category:'mobile'}">
<div class="col-xs-12 text-center mobileProfile" ng-click="search(u.username)">
                <a class="mblCircle">
                        <div class="front">
                                <img src="{{ u.avatar_url }}" class="mblAvatar"/>
                        </div>
                </a>
                <div>
                <p class="name">{{ u.name }}  </p>
                <p class="info">{{ u.info }}  </p>
                </div>
            </div>
</div>